@import '../global.scss';

.btn {
    background-color: white;
    margin: 1em 2em 1em 2em;
    padding: 1.5em 0;
    text-align: center;
    margin: 1.5em auto;
    border: double 5px #ccc;
    width: 90%;
    display: block;

    @include tab {
        max-width: 300px;
    }
}