@import "../global.scss";

.socialBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;

    @include tab {
        display: none;
    }
}


.socialBtns_wrap {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1.4px black;
}

.socialBtn {
    font-size: 1em;
}