@import "../global.scss";

.sample {
    background: blue;

    @include tab {
        // background-color: yellow;
    }
}

.container {
    width: $siteWidth;
    margin: 0 auto;
    background-color: red;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    padding-top: 59px;
    flex: 1;

    @include tab {
        padding-top: 72px;
    }
}