@import "../global.scss";

.container {
    width: $siteWidth;
    background: red;
    margin: 0 auto;
}


.headerContentsWrap {
    background: pink;

    @include tab {
        display: flex;
        align-items: center;
    }
}

.closingIconWrap {
    text-align: right;
    position: fixed;
    background: pink;
    top: 0;
    right: 0;
    z-index: 9999;

    @include tab {
        display: none;
    }
}

.closing {
    padding: .5em;
    font-size: 30px;
    background-color: red;
    top: 0;
    right: 0;
    position: 9999;
}

.logoImgWrap {
    width: 100px;
    padding: 15px 0;
}