@import "../global.scss";


.header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.container {
    width: $siteWidth;
    margin: 0 auto;
}


.headerContentsWrap {

    @include tab {
        display: flex;
        align-items: center;
    }
}

.closingIconWrap {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    color: black;

    @include tab {
        display: none;
    }
}

.closing {
    padding: .5em;
    font-size: 30px;
    top: 0;
    right: 0;
    position: 9999;
    color: black;
}

.logoImgWrap {
    width: 100px;
    padding: 15px 0;

    @include tab {
        padding-top: 5px;
    }

}