@import "../global.scss";

.footer {
    margin-top: 2em;
    padding: 5em 0 1em 0;
    text-align: center;
    background: #FFF0F5;
    color: grey;
}

.footer_box {
    @include tab {
        display: flex;
        justify-content: space-between;
    }
}

.footer_box_single {
    &:first-of-type {
        padding: 4em 2em;
        border: double 5px #ccc;
        font-family: $fontfa2;
        background: white;
    }

    @include tab {
        width: 47%;

        &:first-of-type {
            padding: 2em 2em 2em 2em;
        }

        &:last-of-type {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
    }
}

.footer_box_single_title {
    font-size: 25px;
    line-height: 1.7;
    padding: .5em 0;
    font-weight: bold;
    font-family: $fontFa1;
}

.footerNav {
    // text-align: center;
    margin-top: 4em;

    @include tab {
        margin-top: 0;
        text-align: left;
    }
}

.footerNav_items {}

.footerNav_items_item {
    padding: .6em 0;
    font-size: 1em;
}

.copyright {
    font-size: 8px;
    display: block;
    padding: 10em 0 3em 0;
    font-family: $fontfa2;

    @include tab {
        font-size: .9em;
        padding: 5em 0 2em 0;
    }
}