@import "../global.scss";

.hero_header {
    width: 100%;
    height: 50vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include tab {
        // height: 100vh;
        height: calc(100vh - 70px);
    }
}


.container {
    margin: 0 auto;
    width: $siteWidth;
    height: 100%;
    position: relative;
}

.hero_contentsBox {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.hero_header_title {
    line-height: 1.7;
    width: 100%;
    font-size: $font30;
    font-family: $fontFa1;

    @include tab {
        font-size: $font40;
    }
}

.other_heros {
    width: 100%;
    min-height: 50vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other_heros_box {
    width: $siteWidth;
    padding: 2em 0;
}