@import "../global.scss";

.styleNavWrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    background: white;

    @include tab {
        display: block;
        height: initial;
        position: static;
        background: transparent;
    }
}

.active {
    display: block;
}

.styleNav {
    margin: 0 auto;
    width: 80%;
    margin-top: 2em;

    @include tab {
        margin: initial;
        width: inherit;
        margin-top: 0;
        display: flex;
        justify-content: flex-end;
    }
}

.styleItems {
    display: block;
    padding: 2em 0;
    font-size: $font_18;

    @include tab {
        margin-left: 1em;
    }
}

.hamburgerIconWrap {
    text-align: right;

    @include tab {
        display: none;
    }
}

.hamburger {
    padding: .5em;
    font-size: 30px;
    top: 0;
    right: 0;
    position: 9999;
}